{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PNWanderer</title>
    <link rel="stylesheet" href="{% static 'pnwanderer/styles.css' %}">
</head>
<body>
    <h1 class='banner'>PNWanderer</h1>
    {% include 'pnwanderer/_navbar.html' %}
    {% comment %} add posts to homepage {% endcomment %}
{% for post in blog_posts %}
<div class='blog-post'>
    <h2 class='detail-link'><a href="{% url 'detail' %}">{{ post.title }}</a></h2>
    <p>{{ post.content }}</p>
    {% if post.image %}
    <img class='blog-photo' src="{{ post.image.url }}" alt="{{post.title}}">
    {% endif %}
    <p>{{ post.created_at }}</p>
</div>
{% endfor %}
    
</body>
</html>
