{% extends 'pnwanderer/base.html' %}

{% block title %}
PNWanderer
{% endblock %}


{% block content %}

<h1 class='banner'>PNWanderer</h1>
{% include 'pnwanderer/_navbar.html' %}
    {% comment %} add posts to homepage {% endcomment %}
{% for post in blog_posts %}
<div class='blog-post'>
    <h2 class='detail-link'><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
    <p class='post-text'>{{ post.summary }}</p>
    {% if post.image %}
    <img class='blog-photo' src="{{ post.image.url }}" alt="{{post.title}}">
    {% endif %}
    <p>{{ post.created_at }}</p>
</div>
{% endfor %}
    
{% endblock %}
